In [49]:
import pandas as pd
import numpy as np

df= pd.read_csv('chipotle.tsv',sep="\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [50]:
### 메뉴별 주문 수량을 출력하시오
df.groupby('item_name')['quantity'].count()
### 메뉴별 총주문량을 출력하시오
df.groupby('item_name')['quantity'].sum()
### 주문당 평균 계산 금액을 출력하시오
df['item_price'] = df['item_price'].str[1:].astype(float)
df.groupby('order_id')['item_price'].sum().mean()
### 아이템 별 가격 금액을 출력하시오
df.groupby('item_name')['item_price'].sum()
### 주문별, 높은 가격순으로 주문 개수를 출력하시오
df.groupby('order_id')['item_price'].sum().sort_values(ascending=False)

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
         ...
1262     10.08
1436     10.08
889      10.08
14       10.08
17       10.08
Name: item_price, Length: 1834, dtype: float64